/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}


body {
  font-family: Arial, sans-serif;
}

/* THEME */
.app.light {
  background-color: #f7f7f7;
  color: #000;
  min-height: 100vh;
  padding: 20px;
}

.app.dark {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* SEARCH & FILTER */
.search,
.filter {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
}

/* CARD */
.card {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.app.dark .card {
  background: #2a2a2a;
}

.card img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 8px;
}

.card h4 {
  font-size: 13px;
  margin-bottom: 6px;
}

.card p {
  font-weight: bold;
  margin-bottom: 8px;
}

.card button {
  background: #2563eb;
  color: #fff;
}

/* STATUS */
.status {
  text-align: center;
  margin-top: 20px;
}
